body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-section {
  display: flex;
}

.login-form {
  align-items: center;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 300px;
}
