body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-section {
  align-items: center;
  background-color: rgb(139, 72, 17);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: baseline;
  width: 100vw;
}

.trivia-logo {
  animation: pulse 2000ms infinite;
  height: 150px;
  margin-top: 200px;
  width: 400px;
}

@keyframes pulse {

  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.login-form {
  align-items: center;

  /* background-color: rgb(148, 166, 168); */
  border-radius: 10px;

  /* box-shadow: 5px 5px 5px black; */
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-top: 20px;
  width: 300px;
}

.login-form label {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.login-form input {
  border-radius: 5px;
  height: 20px;
  margin: 15px 5px 5px 10px;
  width: 200px;
}

.btn-section {
  margin-top: 20px;
}

.btn-section button {
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  margin-left: 10px;
  padding: 5px;
  width: 100px;
}

header {
  background-color: rgb(139, 72, 17);
  padding: 20px 0;
}

.header-container {
  align-items: center;
  color: white;
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.avatar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatar-image {
  border-radius: 15px;
}

.trivia-header {
  width: 300px;
}

.score-section {
  text-align: center;
}

.game-section {
  background-color: rgb(233, 221, 206);
  height: 100vh;
  width: 100vw;
}

.question-container {
  background-color: rgb(126, 89, 41);
  border-radius: 15px;
  height: 200px;
  margin: 30px auto;
  padding: 10px;
  width: 70%;
}
